build
*.elf
*.txt
*.map
*.o
p/*.bin
r/*.bin
*.png
app_bootloader.bin
app_payload.bin
app_code.bin
cn_initial.bin
cn_qr_initial_loader.bin
menu_payload/*.bin
cn_secondary_payload/source/*_bin.h
cn_secondary_payload/data/*.bin
cn_secondary_payload.bin
app_bootloader/source/*_bin.h
cn_save_initial_loader/*.bin
cn_save_initial_loader/cn_initial/*.bin
app_code_reloc.s
debug